@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Manrope', sans-serif;
  background-color:  #FAFBFF;
}
.blur-ellips{
  background: #10C7DD;
  opacity: 0.2;
  filter: blur(117px);

}
.bg-rounded{
  background: #1B1C31;
  opacity: 0.2;
}
